/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
h1, h2, h3, h4, h5, h6, p, ul, li, a, p, label, select, input, textarea {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
}
h1 {
    font-size:22px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 17px;
	color: #ff9900;
	margin-bottom: 0px;
}
h4 {
    font-size: 16px;
	margin-bottom: 0px;
}
h5 {
    font-size: 14px;
    font-weight: normal;
	margin-bottom: 0px;
}
body {
	background-image: url('../images/wave_alt2.jpg');
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    min-height: 100%;
    min-width: 100%;
	color: #fff;
}
body p {
	color: #ffffff;
	margin-bottom: 10px;
}
a:link, a:visited, li a.active {
    color: #ff4400;
    text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img { /* assists responsive images */
	/*width: 100%;
	height: auto;*/
}
/* ### fixes ### */
.no_pad_left {
	padding-left: 0;
}
.more-pad-top {
	padding-top: 20px;
}
/* ==== */
#section-header{
    min-height: 58px;
}
.site-slogan {
	color: #FF9900;
	font-size: 1.4em;
	padding: 5px 0;
}
.site-name  a {
	color: #FF4400;
}
.breadcrumb a {
	color: #ff4400;
	text-decoration: none;
}
/* headings */
h2.block-title {
	color: #ff0000;
}
/* ### responsive menu ### */
#zone-menu-wrapper {
    position:relative;
    z-index:2
}
#block-menu-menu-accordion {
    margin-bottom:1em;
}
#block-menu-menu-accordion ul.menu {
    margin:0.1666% 0 0;
    padding-bottom:0.2666;
    list-style:none;
    position:relative
}
#block-menu-menu-accordion ul.menu li {
    list-style: none;
}
#block-menu-menu-accordion ul.menu li a {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: lowercase;
    display: block;
    line-height: 2em;
    padding: 0.5em;
    outline:none;
    background:#FF4400;
    color:#333;
	list-style: none;
	text-decoration: none;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-align: left;
	font-size: 1.1em;
	font-weight:normal;
	-webkit-box-shadow:  1px 1px 7px 1px rgba(51, 51, 51, .5);
    box-shadow:  1px 1px 7px 1px rgba(51, 51, 51, .5);
}
#block-menu-menu-accordion ul.menu li a:hover {
    background:#FFB300;
    text-decoration:none;
}
#block-menu-menu-accordion ul.menu li a.active {
    background:#FF9900;
    text-decoration:none;
	color: #fff;
}
#block-menu-menu-accordion ul.menu li span.over {
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    padding: 0 0.5em;
    text-align: center;
    cursor:pointer;
}
#block-menu-menu-accordion ul.menu li span.over:hover {
    background-color: none;
}
#block-menu-menu-accordion ul.menu ul {
    margin:0;
    padding:0;
    display:none;
}
#block-menu-menu-accordion ul.menu ul li a {
    text-indent:0;
    color:#000;
    background:#CCC;
    text-decoration:none;
}
#block-menu-menu-accordion ul.menu ul li a:hover {
    background: #EBEBEB
}
#block-menu-menu-accordion ul.menu ul li a.last {
    border-bottom: none;
}
#block-menu-menu-accordion ul.menu li span.over {
	display: block;
	float: right;
	height: 21px;
	width: 32px;
	line-height: 30px;
	padding: 0 0.5em;
	text-align: center;
	cursor: pointer;
	margin: 9px 10px 0 0;
}
#block-menu-menu-accordion ul.menu li span.down {
background: transparent url(../images/menu_closed.png) center left no-repeat;
}
#block-menu-menu-accordion ul.menu li span.up {
background: transparent url(../images/menu_expanded.png) center left no-repeat;
}
/* ### User menu ### */
#block-system-user-menu {
	text-align: center;
}
#block-system-user-menu ul li, #block-menu-menu-logged-in-console ul li {
	list-style: none;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	float: left;
	width: 33.3333333%;
}
#block-system-user-menu ul li.first .leaf, #block-menu-menu-logged-in-console ul li.first .leaf {
	margin-top: 0;
}
#block-system-user-menu ul li a, #block-menu-menu-logged-in-console ul li a {
	background: url(../images/eco_button_bg_01.png) 0 0 repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	border: 1px solid #666666;
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
	overflow: hidden;
}
#block-system-user-menu ul li a, #block-system-user-menu ul li a:hover, #block-menu-menu-logged-in-console ul li a, #block-menu-menu-logged-in-console ul li a:hover {
	text-decoration: none;
	display: block;
	padding: 2px 4px;
}
#block-system-user-menu ul li a:hover, #block-menu-menu-logged-in-console ul li a:hover {
	color: #ff4400;
}
/* ### Zone styles ###*/
.zone-preface, .zone-branding, .zone-content, /*.zone-footer,*/ .zone-postscript  { 
	margin-top: 15px;
	margin-bottom: 20px;
	padding-top: 15px;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	background: url("../images/content_bg_v2.png");
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
}
.zone-branding, .zone-postscript { 
	padding-top: 1em;
	padding-bottom: 0.9em;
	-moz-border-radius: 0px 0px 12px 12px; 
	-webkit-border-radius: 0px 0px 12px 12px;
	border-radius: 0px 0px 12px 12px;	
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
}
.zone-branding { 
	margin-top: 0;
}
.zone-menu { 
	-webkit-border-radius: 0px 0px 12px 12px;
	border-radius: 0px 0px 12px 12px;
	background: url("../images/content_bg_v2.png");
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
}
.zone-content { 
	-webkit-border-radius: 12px 12px 0px 0px;
	border-radius: 12px 12px 0px 0px;
	margin-bottom: 0;
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
}
.zone-postscript { 
	padding-top: 1em;
	padding-bottom: 0.9em;
	margin-top: 0;
}
li.pager-previous {
	width:60px;
}
h1 #page-title .title {
	padding-bottom:0;
}
#zone-preface .block, #region-sidebar-first .block, #region-content .block ,#region-sidebar-second .block /*,#region-footer-first .block*/ ,#zone-postscript .block, /*#block-system-user-menu,*/ #block-menu-menu-logged-in-console {
	clear:both; /*Forces Safari & other mobile devices to round corners*/
	padding: 10px;
	border: 1px solid #666666;
	margin-bottom: 15px;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	background: url("../images/content_bg.png");
	overflow: hidden;
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
}
#zone-preface .block h3, #region-sidebar-first .block h3, #region-content .block h3, #region-sidebar-second .block h3, #region-footer-first .block h3, #zone-postscript .block h3, #block-system-user-menu h3 {
	/*margin: -10px -10px 0;*/
    padding: 5px 5px 6px 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.1em;
}
h3.location-locations-header {
	background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;

}
#region-sidebar-first .block  ul li{
	list-style: none;
}
#zone-preface {
	/*display: none !important;*/ /* does not show slide show as default */
	overflow: hidden; /* no scrollbar-bottom in wide-mode */
}
#block-menu-menu-footer-menu li {
	list-style: none;
}
#section-footer {
	background-color: #000;
}
/* ### Flexslider ### */
.flexslider p {
	margin-bottom:0;
	color: #FFF;
}
/* #### Styles for Content Types #### */
/* Styles for the Contact (webform) */
.submitted {
	display:none;
}
.webform-client-form .form-item-captcha-response label {
  	display: none;
}
#contact_us {
    padding: 0.8666666%;
}
#contact_us .webform {
	border: 1px solid #666;
	padding: 1.8666666%;
	margin-right: 0;
}
#contact_us .webform label {
	padding-bottom: 7px;
	font-size: 14px;
	text-align: left;
}
#contact_us .webform select {
	width:100%;
	min-height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #666;
}
#contact_us .webform input {
	width:100%;
	min-height: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #666;
}
#contact_us .webform textarea {
	width:100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #666;
}
#contact_us .webform .grippie {
	display: none;
}
#contact_us .webform .form-actions {
	text-align: center;
}
#contact_us .webform #edit-submit {
	width: 100%;
	min-height: 40px;
}
#contact_us .morish {
	border: 1px solid #666;
	padding: 1.8666666%;
	margin-top: 2%;
	margin-left: 0;
}
#contact_us .morish h3.more-pad-top {
	padding-top: 20px;
}
#contact_us .morish .contact-us-email a, #contact_us .morish .contact-us-email a:hover {
	font-size: 2.1em;
	color: #fff;
	text-decoration: none;
}
#contact_us .grid-6 {
	margin: 0;
	max-width: 100%;
}
/* Styles for Media (video) content type */
#eco_video {
	padding: 0.8666666%;
}
#eco_video .grid-7 {
	max-width: 100%;
	margin: 0;
}
#eco_video .grid-7 .video_holder {
	border: 1px solid #666;
	padding: 1.8666666%;
	margin-top: 2%;
}
#eco_video .grid-7 .video_holder.margin_right {
	margin-right: 0;
}
#eco_video .grid-5 {
	max-width: 100%;
	margin-top: 2%;
	border: 0;
}
/* Styles for Pod content type */
#pod {
	 padding: 0.8666666%;
}
#pod .grid-6 {
	max-width: 100%;
	margin: 0;
}
#pod .grid-6 img {
     width: 100%;
     border: 1px solid #666666;
     border-radius: 7px;
     -moz-border-radius: 7px;
     -webkit-border-radius: 7px;
     overflow: hidden;
     height: auto;
}
#pod .grid-6 h3 {
      border-bottom: 1px solid #666;
      margin-bottom: 20px;
      margin-right: 0;
}
/* Styles for Pod panel content type */
#pod_panel {
	 padding: 0.8666666%;
	 position: relative;
}
#pod_panel .grid_12 {
	max-width: 100%;
	margin: 0;
}
#pod_panel img {
     width: 100%;
     border: 1px solid #666666;
     border-radius: 7px;
     -moz-border-radius: 7px;
     -webkit-border-radius: 7px;
     overflow: hidden;
     height: auto;
}
#pod_panel h3 {
      border-bottom: 1px solid #666;
      margin-bottom: 20px;
      margin-right: 0;
}
#pod_panel .title_holder {
	/*background: url("../images/content_bg.png");*/
	padding: 0.2em 0;
	/*bottom: 0;*/
	overflow: hidden;
	text-align: left;
	/*position: absolute;*/
	width: 100%;
}
.my-slider-hm-page {
	border: red 1px solid;
}
/* ------ Styles for Content Types end ------*/
/* GMAP/Location */
.gmap-popup {
	background: #fff;
}
.gmap-popup .node-title {
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-bottom: 0;
}
.gmap-popup .node-title a {
	text-decoration: none;
	color: #ff4400;
}
.gmap-popup p {
	color: #000;
	margin: 0;
	padding: 0;
}
.gmap-popup .location-locations-header {
	color: blue;
	margin-bottom: 0px;
	padding-bottom: 0;
	font-size: 15px;
	font-weight: bold;
}
.gmap-popup .location-locations-wrapper {
	color: #666;
}
.gmap-popup .map-link {
	display: none;
}
/* node plot forms styles */
.node-plot-form  input {
	border: 1px solid #FF4400;
	-moz-border-radius:5px;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.node-plot-form  select{
	border: 1px solid #FF4400;
	-moz-border-radius:5px;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.container-inline-date .date-padding {
	padding: 0;
}
.container-inline-date > .form-item {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.filter-help {
	float: none;
	padding: 0;
}
.node-plot-form .vertical-tabs {
	border: none;
}
/* gmap location form styles */
.location .form-item input {
	width: 18em;
}
.location_auto_country {
	width: 18em;
}
/* View exposed forms styles (BEF) */
.views-exposed-form select, .views-exposed-form input {
	border: 1px solid #666;
	-moz-border-radius:5px;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.views-exposed-form select {
	max-width: 175px;
}
.container-inline-date .form-item, .container-inline-date .form-item input {
   width: 85%;
}
/* fine print [privacy policy, terms & conditions] */
#fine_print h3 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 16px;
}
/* front page  */
.view-all-activity {
	/*display:none;*/
}
.page-node-46 .title { /* hides title of the home page node on local */
	display: none;
}
.page-node-43 .title { /* hides title of the home page node on live */
	display: none;
}
/* generic */
.flt_l {
	float: left;
}
.flt_r {
	float: right;
}
.footer_p_width {
	color: #ddd;
	font-size: 10px;
}
/* ### Home page styles ### */
img#logo {
	width: 100%;
}

.home_page_block {
	text-align: center;
}

h3.home_page_block_hd {
	font-size: 1.9em;
	padding-left: 0;
}
p.home_page_block_para {
	font-size: 1.2em;
}
.home_page_block_btn {
	background: url(../images/eco_button_bg_01.png) 0 0 repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #666666;
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
	overflow: hidden;
	/*background: rgba(68,68,68,1);
	background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba (68,68,68,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000', GradientType=0 );*/
}

.home_page_block_btn a, .home_page_block_btn a:hover {
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}
.home_page_block_btn a:hover {
	color: #ff4400;
}
/* fixes for Plot nodes */
h2.node-title {
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}
h2.node-title a {
	color: #fff;
	text-decoration: none;
	/*font-size: 0.7em;*/
}
ul.inline li {
   padding: 0;
}
.block_img_holder {
	position: relative;
	margin:0.7em;
	border: 1px solid #666666;	
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	overflow: hidden;
}
.block_img_holder .posn_type { /*this is a fix for Safari & other mobile devices. This will force Safari to roud corners; by using the 'clear:both;" attribute.*/
	overflow: hidden;
	clear: both;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}
.block_img_holder .posn_type .title_holder {
	background: url("../images/content_bg.png");
	padding: 0.2em 0;
	bottom: 0;
	overflow: hidden;
	text-align: left;
	position: absolute;
	width: 100%;
}
.block_img_holder .title_holder h4 {
	line-height: 1.5em;
	font-size: 1.5em;
	font-weight: normal;
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.block_img_holder .title_holder p {
	line-height: 1.2em;
	font-size: 1.1em;
	font-weight: normal;
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.block_img_holder img.block_img  {
	width: 100%;
}
/* === Footer Menu ===*/
#section-footer ul.menu {
	text-align: center;
	width: 100%;
}
#section-footer ul.menu li {
	float: left;
	list-style: none;
}
.bogus-wrapper h2 {
	margin-bottom: 10px;
	padding-left: 0;
	font-size: 2.0em;
	text-align: center;
	font-weight: normal;
}
.bogus-wrapper h3 {
	margin-bottom: 10px;
	padding-left: 0;
	font-size: 1.9em;
	text-align: center;
	font-weight: normal;
}
.bogus a, .bogus a:hover {
	text-decoration: none;
	color: #fff;
}
.bogus .grid-4  h3{
	margin-top: 0;
	padding-top: 0;
	font-size: 1.9em;
	font-weight: normal;
}
.bogus .grid-4  h4 {
	margin-top: 0;
	padding: 0 10px 10px;
	font-size: 1.2em;
	font-weight: normal;
}
.bogus .grid-4 {
	margin-top: 3px;
	margin-left:0;
	margin-right:0;
	border: 1px solid #666;
}
/* === Media ===*/
.media-youtube-player {
	width: 100%;
	max-width: 640px
}
h2.field-content a {
	text-decoration: none;
}
.view-media span img { /*width of video thumb*/
	width: 100%;
	height:auto;
	width:100%;
	margin-top:7px;
	margin-bottom:7px;
	border: 1px solid #666;
    -moz-border-radius:7px;
    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px;
    overflow: hidden;
}
/* === Flex slider == */
.flex-nav-container p {
	padding-top: 8px;
}
/*###################################*/
/* Footer Menu */
ul.social-networks {
	margin: 0;
	padding-top: 30px;
}
ul.social-networks li {
	float:left;
	list-style: none;
}
ul.social-networks li a {
	display: block;
	height: 48px;
}
ul.social-networks li.facebook {
	background: url(http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/facebook.png) no-repeat center 0;
	width: 33.333%;
	background-size: 75%;
}
ul.social-networks li.youtube {
	background: url(http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/youtube.png) no-repeat center 0;
	width: 33.333%;
	background-size: 50%;
}
ul.social-networks li.twitter {
	background: url(http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/twitter.png) no-repeat center 0;
	width: 33.333%;
	background-size: 25%;
}
#block-menu-menu-test-menu, #block-menu-menu-footer-menu {
	margin:10px 0 0;
	padding-top: 25px;
	padding-bottom: 15px;
	border-top: 1px solid #666;
}
#block-menu-menu-test-menu ul.menu li, #block-menu-menu-footer-menu ul.menu li {
	background: url(../images/eco_button_bg_01.png) 0 0 repeat-x;
	margin-left: 0;
	margin-top: 5px;
	float: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #666666;
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
	overflow: hidden;
	/*background: rgba(68,68,68,1);
	background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba (68,68,68,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000', GradientType=0 );
	behavior: url(sites/all/themes/omegaeco/css/PIE.htc);*/
}
#block-menu-menu-test-menu ul.menu li a, #block-menu-menu-footer-menu ul.menu li a, #block-menu-menu-test-menu ul.menu li a:hover, #block-menu-menu-footer-menu ul.menu li a:hover{
	color: #fff;
	text-decoration: none;
	line-height: 36px;
}
#block-menu-menu-test-menu ul.menu li a:hover, #block-menu-menu-footer-menu ul.menu li a:hover {
	color: #ddd;
}
