/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#block-menu-menu-accordion { }

#block-menu-menu-accordion li {
    float: left;
    position: relative;
}
#block-menu-menu-accordion li ul {
   	left: 0px;
    position: absolute !important;
    z-index: 999;
}

#block-menu-menu-accordion ul.menu li a {
    line-height: 1.2em;
	font-size: 1.2em;
	text-align: center;
	font-weight: normal;
	background: none;
	color: #ccc;
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	text-align: left;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#block-menu-menu-accordion ul.menu li a.active {
	background: none;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}

#block-menu-menu-accordion ul.menu li a:hover {
	background: none;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}

/* ================================= */
#block-menu-menu-accordion ul.menu li a:after {
	background-color: #333;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop (0%,#333),color-stop(48%,#444),color-stop(100%,#000));
	background-image: -webkit-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -moz-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -ms-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -o-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	content: " ";
	position: absolute;
	height: 2.5em;
	top: 1px;
	right: 1px;
	width: 1px;
	}
#block-menu-menu-accordion ul.menu li:last-child a:after {
	content: " ";
	display: none;

}
#block-menu-menu-accordion ul.menu ul li a:after {
	/*background-color: #333;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop (0%,#333),color-stop(48%,#444),color-stop(100%,#000));
	background-image: -webkit-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -moz-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -ms-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -o-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	content: " ";
	position: absolute;
	height: 2.5em;
	top: 1px;
	right: 1px;
	width: 1px;*/
	}
/* ========================================== */

#block-menu-menu-accordion ul.menu ul {
	width: 200px;
	background-color: #000;
	z-index: 999;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#block-menu-menu-accordion ul.menu ul li {
	float: none;
	margin-top: 0;
	padding-top: 0;
}
#block-menu-menu-accordion ul.menu ul li a, #block-menu-menu-accordion ul.menu ul li a:hover {
    line-height: 0.9em;
	text-align: left;
	color: #ccc;
	background-color: transparent;
}
#block-menu-menu-accordion ul.menu li ul li a:hover {
    text-decoration: none;
}
/* Footer Menu */
ul.social-networks {
	margin: 0;
}
ul.social-networks li {
	float:left;
	list-style: none;
	height: 40px;
}
ul.social-networks li a {
	display: block;
	height: 40px;
}
ul.social-networks li.facebook {
	background: url(http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/facebook.png) no-repeat;
	width: 14%;
	background-size: 75%;
	margin-right: 15px;
}
ul.social-networks li.youtube {
	background: url(http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/youtube.png) no-repeat;
	width: 10%;
	background-size: 75%;
	margin-right: 30px;
}
ul.social-networks li.twitter {
	background: url(http://www.ecorhythm.com/sites/all/themes/omegaeco/social-networks/twitter.png) no-repeat;
	width: 5%;
	background-size: 75%;
	margin-right: 0;
}
#block-menu-menu-footer-menu, #block-menu-menu-test-menu {
	margin:10px 0 0;
	padding-top: 25px;
	padding-bottom: 15px;
	padding-left: 0;
	border-top: 1px solid #666;
}
#block-menu-menu-footer-menu ul.menu li, #block-menu-menu-test-menu ul.menu li {
	margin-left: 0;
	float: left;
	margin-right: 2%;
	margin-top: 0;
	text-align: left;
	background: none;
	filter: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	text-shadow: none;
}
#block-menu-menu-footer-menu ul.menu li a, #block-menu-menu-test-menu ul.menu li a, #block-menu-menu-footer-menu ul.menu li a:hover, #block-menu-menu-test-menu ul.menu li a:hover{
	color: #fff;
	text-decoration: none;
}
#block-menu-menu-test-menu ul.menu li a:hover, #block-menu-menu-test-menu ul.menu li a:hover {
	color: #ddd;
}
/* ### Zone styles ###*/
.zone-branding { 
	background: rgba(68,68,68,1);
	background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba (68,68,68,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000', GradientType=0 );
	/*behavior: url(sites/all/themes/omegaeco/css/PIE.htc);*/
	margin-bottom: 0;
}
/* #### Styles for Content Types #### */
/* Styles for the Contact (webform) */
#contact_us .webform #edit-submit {
	width: 30%;
	min-height: 35px;
}
#contact_us .webform {
	margin-right: 2%;
}
#contact_us .morish {
	margin-top: 0;
	margin-left: 2%;
}
#contact_us .grid-6 {
	max-width: 50%;
}
/* Styles for Media (video) content type */
#eco_video {
	padding: 0.8666666%;
}
#eco_video .grid-7 {
	max-width: 60%;
	margin: 0;
}
#eco_video .grid-7 .video_holder {
	border: 1px solid #666;
	padding: 1.8666666%;
	margin-top: 0;
}
#eco_video .grid-7 .video_holder.margin_right {
	margin-right: 4%;
}
#eco_video .grid-5 {
	max-width: 40%;
	margin: 0;
}
#eco_video .grid-5 .video_holder {
	border: 1px solid #666;
	padding: 1.8666666%;
}
/* Styles for Pod content type */
#pod {
	padding: 0.8666666%;
}
#pod .grid-6 {
	max-width: 48%;
}
#pod .grid-6.margin_right {
	margin-right: 4%;
}
/* Styles for Home Panel page content type */
.home-page-panel-pane {
	width: 49%;
	/*border: red 1px solid;*/
	float: left;
}
.home-page-panel-pane-right {
	width: 49%;
	/*border: red 1px solid;*/
	float: right;
}
/* ------ Styles for Content Types end ------*/
/* ### User menu ### */
#block-system-user-menu ul li, #block-menu-menu-logged-in-console ul li {
	float: none;
	width: auto;
}
/* ### Home page styles ### */

#block-block-2, #block-block-3, #block-block-4, #block-block-9, #block-block-10 {
	text-align: left;
}

.home_page_block_btn {
	/*text-align: left;*/
}


.bogus-wrapper h2 {
	margin-bottom: 10px;
	padding-left: 0;
	font-size: 2.0em;
	text-align: left;
	font-weight: normal;
}
.bogus-wrapper h3 {
	margin-bottom: 10px;
	padding-left: 0;
	font-size: 1.9em;
	text-align: left;
	font-weight: normal;
}
.bogus a, .bogus a:hover {
	text-decoration: none;
	color: #fff;
}
.bogus .grid-4  h3{
	margin-top: 0;
	padding-top: 0;
	font-size: 1.9em;
	font-weight: normal;
}
.bogus .grid-4  h4 {
	margin-top: 0;
	padding: 0 10px 10px;
	font-size: 1.2em;
	font-weight: normal;
}
.bogus .grid-4 {
	margin-left: 0;
	margin-right: 6px;
	border: 1px solid #666;
}
.bogus .no-margin-right {
	margin-right: 0;
}

/* ### Media ### */
.media-youtube-player {
	/*width: 640px;
	height: 360px;
	border: green dashed 1px;*/
}

