/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* Styles for the Contact (webform) */
/* ### alpha default narrow ### */
./*submitted {display:none;}

#contact_us .float_clr {
	clear: both;
}
#contact_us .webform label {
	position: relative;
}
#contact_us .webform  select {
   margin-left: 0px;
}
#contact_us .webform input {
	margin-left: 0px;
}*/