/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#block-menu-menu-accordion { }

#block-menu-menu-accordion li {
    float: left;
    position: relative;
}
#block-menu-menu-accordion li ul {
   	left: 0px;
    position: absolute !important;
    z-index: 999;
}

#block-menu-menu-accordion ul.menu li a {
    line-height: 1.2em;
	font-size: 1.2em;
	text-align: center;
	font-weight: normal;
	background: none;
	color: #ccc;
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	text-align: left;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#block-menu-menu-accordion ul.menu li a.active {
	background: none;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}

#block-menu-menu-accordion ul.menu li a:hover {
	background: none;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}

/* ================================= */
#block-menu-menu-accordion ul.menu li a:after {
	background-color: #333;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop (0%,#333),color-stop(48%,#444),color-stop(100%,#000));
	background-image: -webkit-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -moz-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -ms-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -o-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	content: " ";
	position: absolute;
	height: 2.5em;
	top: 1px;
	right: 1px;
	width: 1px;
	}
#block-menu-menu-accordion ul.menu li:last-child a:after {
	content: " ";
	display: none;

}
#block-menu-menu-accordion ul.menu ul li a:after {
	/*background-color: #333;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop (0%,#333),color-stop(48%,#444),color-stop(100%,#000));
	background-image: -webkit-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -moz-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -ms-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: -o-linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	background-image: linear-gradient(to bottom,#333 0,#444 48%,#000 100%);
	content: " ";
	position: absolute;
	height: 2.5em;
	top: 1px;
	right: 1px;
	width: 1px;*/
	}
/* ========================================== */

#block-menu-menu-accordion ul.menu ul {
	width: 200px;
	background-color: #000;
	z-index: 999;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#block-menu-menu-accordion ul.menu ul li {
	float: none;
	margin-top: 0;
	padding-top: 0;
}
#block-menu-menu-accordion ul.menu ul li a, #block-menu-menu-accordion ul.menu ul li a:hover {
    line-height: 0.9em;
	text-align: left;
	color: #ccc;
	background-color: transparent;
}
#block-menu-menu-accordion ul.menu li ul li a:hover {
    text-decoration: none;
}
/* ### Zone styles ###*/
.zone-branding { 
	background: rgba(68,68,68,1);
	background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba (68,68,68,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba (0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#000000', GradientType=0 );
	/*behavior: url(sites/all/themes/omegaeco/css/PIE.htc);*/
}
/* Styles for the Contact (webform) */
/* ### alpha default ### */
.submitted {display:none;}
#contact_us {
    padding: 0.8666666%;
}
#contact_us .float_clr {
	clear: both;
}
#contact_us .webform {
	border: 1px solid #fff;
	padding: .8666666%;
}
#contact_us .webform label {
	padding-bottom: 7px;
	font-size: 14px;
}
#contact_us .webform select {
	width:80%;
	max-width: 80%;
	min-height: 30px;
}
#contact_us .webform select option {
	font-size: 14px;
}
#contact_us .webform input {
	width:80%;
	max-width: 80%;
	min-height: 30px;
}
#contact_us .webform textarea {
	max-width: 80%;
}
#contact_us .webform .grippie {
	max-width: 80%;
	border-width: 0;
}
#contact_us .webform #edit-submit {
	max-width: 15%;
}
/* ### User menu ### */
#block-system-user-menu ul li, #block-menu-menu-logged-in-console ul li {
	float: none;
	width: auto;
}
/* ### alpha default end ### */
/* Styles for the Contact (webform) END */


/* ### Home page styles ### */

#block-block-2, #block-block-3, #block-block-4, #block-block-9, #block-block-10 {
	text-align: left;
}

.home_page_block_btn {
	/*text-align: left;*/
}

/* ### Media ### */
.media-youtube-player {
	/*width: 640px;
	height: 360px;
	border: green dashed 1px;*/
}