/* content type pod */
#pod {
     padding: 0.8666666%;
}
#pod .grid-6 {
    max-width: 100%;
    margin: 0;
}
#pod .grid-6 img {
     width: 100%;
     border: 1px solid #666666;
     border-radius: 7px;
     -moz-border-radius: 7px;
     -webkit-border-radius: 7px;
     overflow: hidden;
     height: auto;
}
#pod .grid-6 h3 {
      border-bottom: 1px solid #666;
      margin-bottom: 20px;
      margin-right: 0;
}