/* home page */
.page-home-page-panel .breadcrumb {
    display: none;
}
.panel-2col-bricks .panel-separator {
    margin-bottom: 0;
}
.home-page-panel-pane, .home-page-panel-pane-right {
    margin-top: 1.8666666%;
}
.home-page-panel-pane_intro .pod_panel {
    display: none;
}
.home-page-panel-pane_intro h2 {
    padding: 0.8666666% 0 0 0.8666666%;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9em;
    line-height: 1.0em;
}
.home-page-panel-pane_intro p {
    padding: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    color: #ccc;
}
.home-page-panel-pane_x3, .home-page-panel-pane_x3-right {
    padding: 1.8666666%;
    margin-top: 0.8666666%;
    margin-right: 0;
    border-radius: 7px;
    border: 1px solid #666;
    background-color: #000;
    overflow: hidden;
}
.home-page-panel-pane_x3-right {
    margin-right: 0;
}
.home-page-panel-pane_intro .title_holder, .home-page-panel-pane_x3 .title_holder, .home-page-panel-pane_x3-right .title_holder {
    display: none;
}
 .home-page-panel-pane_x3 h2.pane-title, .home-page-panel-pane_x3-right h2.pane-title {
    padding: 0 0 0 2%;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9em;
    color: #ff9900;
}
.home-page-panel-pane, .home-page-panel-pane-right {
    border-radius: 7px;
    border: 1px solid #666;
    background-color: #000;
     overflow: hidden;
}
.home-page-panel-pane h2.pane-title, .home-page-panel-pane-right h2.pane-title {
    padding: 0.8666666% 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9em;
}
.my-slider-hm-page {
    border: red 1px solid;
}

/* ### Home page styles ### */
img#logo {
    width: 100%;
}
.home_page_block {
    text-align: center;
}
h3.home_page_block_hd {
    font-size: 1.9em;
    padding-left: 0;
}
p.home_page_block_para {
    font-size: 1.2em;
}
.home_page_block_btn {
    background: url(../images/eco_button_bg_01.png) 0 0 repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #666666;
    text-shadow:
        0px -1px 0px rgba(000,000,000,1),
        0px 1px 0px rgba(255,255,255,0.2);
    behavior: url(sites/all/themes/omegaeco/css/PIE.htc);
    overflow: hidden;
}
.home_page_block_btn a, .home_page_block_btn a:hover {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
.home_page_block_btn a:hover {
    color: #ff4400;
}
/* fixes for Plot nodes */
h2.node-title {
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
}
h2.node-title a {
    color: #fff;
    text-decoration: none;
    /*font-size: 0.7em;*/
}
ul.inline li {
   padding: 0;
}
.block_img_holder {
    position: relative;
    margin:0.7em;
    border: 1px solid #666666;  
    border-radius: 7px; 
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px;
    overflow: hidden;
}
.block_img_holder .posn_type {
    overflow: hidden;
    clear: both;
}
.block_img_holder .posn_type .title_holder {
    background: url("../images/content_bg.png");
    padding: 0.2em 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
    position: absolute;
    width: 100%;
}
.block_img_holder .title_holder h4 {
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: normal;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.block_img_holder .title_holder p {
    line-height: 1.2em;
    font-size: 1.1em;
    font-weight: normal;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.block_img_holder img.block_img  {
    width: 100%;
}
#header {
    position: relative;
}
.my-front-page {
    min-height: 500px;
    width: 100%;
    background-image: url('../images/newquay-mobile.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    -webkit-box-shadow: 0px 20px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 20px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 20px 10px 0px rgba(50, 50, 50, 0.25);
}
.header-main-message {
    position: absolute;
    bottom: 0;
    background: url("../images/content_bg_v2.png");
    width: 100%;
    /*padding: 0 7%;*/
}
.header-main-message h2 {
    font-size: 2.0em;
    font-weight: normal;
    margin: 1.333% 6.333%;
    text-align: center;

}
#section-header {
    min-height: 60px;
    background-color: #000;
}

.home-page-panel-pane_x3, .home-page-panel-pane_x3-right {
    padding: 1.86667%;
    margin-top: 0.866667%;
    margin-right: 0px;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: hidden;
}
.home_page_block_btn {
    background: url('../images/eco_button_bg_01.png') repeat-x scroll 0px 0px transparent;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #666;
    text-shadow: 0px -1px 0px #000, 0px 1px 0px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.home-page-panel-pane, .home-page-panel-pane-right {
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: hidden;
}
.home-page-panel-pane h2.pane-title, .home-page-panel-pane-right h2.pane-title {
    padding: 0.866667% 0 0.866667% 1.1%;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.9em;
    color: #fff;
    background-color: #000; 
}