/* flexslider */
.flexslider p {
    margin-bottom:0;
    color: #FFF;
    padding-left: 8px;
}
.flex-nav-container p {
    padding-top: 8px;
}
.flex-nav-container {
    margin-top: 1.86667%;
    background-color: #000;
}